@model AdventurousContacts.Models.Contact

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Fel inträffade. Korrigera det som är fel och försök igen.")
    @Html.HiddenFor(model => model.ContactID)

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName):
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName, new { maxLength = "50", size = "50" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName):
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName, new { maxLength = "50", size = "50" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>    
    <div class="editor-label">
        @Html.LabelFor(model => model.EmailAddress):
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmailAddress, new { maxLength = "50", size = "50" })
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>

    <p>
        <input type="submit" value="Spara" />
    </p>
}